:root {
  --black: #000000;
  --gray: #e6e6e6;
  --blue: #3399ff;
  --white: #ffffff;

  font-family: "Century Gothic";
}

.nav {
  background-color: white;
}

body {
  font-size: 20px;
  color: var(--black);
  background-color: white;
}

/* header {
  text-align: left;
  height: 300px;
} */
/* h1,
p {
  margin-left: 53px;
} */

/* li {
  display: inline;
  padding: 15px;
  color: var(--black);
} */

/* aside {
  position: relative;
  bottom: 1935px;
  width: 350px;
  height: 500px;
  padding-bottom: 20px;
  margin: 53px;
  font-family: "Century Gothic";
  text-align: center;
  background-color: var(--gray);
  color: var(--black);
} */

.section {
  position: flex;
  width: 400px;
  height: 400px;
  padding: 20px;
  margin: 15px;
  border: 10px solid var(--blue);
  background: var(--black);
  color: var(--white);
}

/* img {
  width: 350px;
  height: 300px;
  padding: 15px;
  margin: 10px;
}

#one {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#showSearch {
  justify-content: center;
}

#two {
  position: static;
  margin-left: 925px;
} 

 #three {
  position: static;
  margin-left: 1400px;
}

 #four {
  position: static;
  margin-left: 925px;
}

#showSearch {
  justify-content: center;
} */

footer {
  text-align: center;
}
/* h1,
p {
  color: var(--black);
  margin: 20px;
}

#header {
  align-items: center;
  width: 300px;
  height: 100px;
}

@media screen and (max-width: 830px) {
  header,
  main {
    flex-direction: column;
  }
} ; */
