:root {
    --black: #000000;
    --gray: rgba(196, 196, 196, 0.678);
    --blue: #3399ff;
    --white: #ffffff;

    font-family: "Century Gothic";
}

body {
  font-size: 20px;
  color: var(--black);
}


header {
    text-align: left;
    height: 150px;
    background-image: linear-gradient(to right, var(--gray), var(--white));
}

h1, p {
    margin-left: 53px;
}

nav {
    text-align: right;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to left, var(--gray), var(--white));
}

li {
    display: inline;
    padding: 15px;
    color: var(--black);
  }

button {
  background-color: var(--gray);
  color: var(--blue);
  font-size: 12px;
  opacity: 1;
}

button:hover {opacity: 0.6;}

aside {
    padding-bottom: 20px;
    margin: 53px;
    font-family: "Century Gothic";
    text-align: center;
    background-color: var(--gray);
    color: var(--black);
}

h2 {
    text-align: center;
}

img {
    width: 350px;
    height: 300px;
    padding: 15px;
    margin: 10px;
}


#one {
    position: static;
    margin-left: 0px;
}

#two {
    position: static;
    margin-left: 500px;
}

#three {
    position: static;
    margin-left: 0px;
}

#four {
    position: static;
    margin-left: 500px;
}

footer {
    text-align: center;
}

  
/* @media screen and (max-width: 830px) {
    header, main {
        flex-direction: column;
    }

    aside {
      order: 2;
    }
   
} */